:root {
    --primary: #516EFF;
    --lightprimary: #0056b3;
    --white: #ffffff;
    --silver: #bcbcbc9e;
    --defaultLinkcolor: #333;
    --yellow: #ffd700;
    --muted: #777777;
    --whiteBG: #f8fafc;
    --sub: #216583;

 }

*{
 box-sizing: border-box;
}


a{
  text-decoration: none;  
  color: var(--muted);
  font-size: 20px;
}
button{
  height: 58px;
}
hr{
    color: var(--silver);
}
nav a:hover{
    color: var(--primary);
    cursor: pointer;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50x;
}
nav ul {
    display: flex;
    gap: 25px;
    
}
nav ul li {
    list-style-type: none;
    margin-right: 32px;
}
nav ul li a{
    font-size: 20px;
    color: var(--muted);
    margin-top: 25px;
    
}
#nav-home a{
    color: var(--primary);
}
span {
    color: var(--yellow);
}
#btn{
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    color: var(--white);
    background-color: var(--primary);
    border-style: none;
    border-radius: 6px;
    height: 58px;
 }
 #btn a{
    color: var(--white);
    font-size: 20px;
    height: 58px;
 }
 
 
  /* section-2  */
  #pre-navbar{

  }
  .container-hero{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: auto;
  }
  .big-title h1{
    width:100%;
    font-size: 60px;
    line-height: 55px;
  }
  .big-title p{
    width: 310px;
    color: var(--muted);
  }
  .hero-content{
    width: 50%;
    margin-top: 7%;
  }
  #long-btn{
    margin-top: 50px;
  }
  .hero-slide{
    width: 50%;
  }
  .hero-slide img{
    width: 93%;
    margin-top: 35px;
    border-radius: 20px;
  }

  /* section-3 */
  #service-area{
    background-color: var(--primary);
    margin-top: 6%;
    padding: 24px;
  }
  .container-service-area {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: auto ;
   
  }
   
  .i-box-text{
    color: var(--muted);
  }
  .service-content h2 {
     font-size: 40px;
     text-align: center;
     color: var(--white);
  }
  .service-content p {
    text-align: start;
    color: var(--white);
    font-size: 25px;
    line-height: 1px;
  }
  .service{
    display: flex;
    align-items: center;
  }
  .service-box{
    margin: 17px;
    background-color: var(--white);
    padding: 26px 40px 26px 40px;
    border-radius: 15px;
    align-items: center;
  }
  .service-box img {
    width: 30px; 
    margin-left: 20px;

  }
  .service-box p {
    color: var(--muted);
    text-align: center;
  }

  /* section-4 */
  
  .between{
    display: grid;
    grid-template-columns: repeat(3 ,600px);
    grid-template-rows: repeat(1, 400px);
    gap: 40px;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 90%;
}
.grid-ls{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  font-size: 23px;
  line-height: 40px;
}

 .wrt h4 {
 margin-top: 6px;
 font-size: 25px;
 }
 .ect{
  text-align: center;
  margin-top: 64%;
 }

.title2{
font-size: 25px;
text-align: center;
line-height: 2px;

}

 .grid {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  border-radius: 11px;
  width: 90%;
  margin: auto;
  padding: auto;
}
 .cell{
   background-color: var(--whiteBG);
   margin:20PX ;
   text-align: center; 
   border-radius: 20px;
   padding: 45px;
}
.who-weare{
    font-size: 25px;
    text-align: center;
    line-height: 2px;
}
.aboutus{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 90%;
    margin: auto;
    padding: auto;
}
.photo img{
    width: 90%;
    border-radius: 15px;
    margin: 10px 2px 35px 6px;
}
#our-erea{
    background-color: var(--whiteBG);
    align-items: center;
    width: 50%;
    border-radius: 18px;
    margin-bottom:35px;
}
.texte h4 {
    font-size: 30px;
    margin-left: 50px;
}
.texte p {
    margin-left: 50px;
    font-size: 20px; 
    color: var(--muted);
}


 .h2-p{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
 }
 .doct-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding: auto;
    gap: 15px;

 }
 .doc{
    border: 1px solid var(--silver);
    padding: 0 0 60px 0;
    width: 40px;
    border-radius: 10px;
    margin-top: 15px;
  }
   #doct .doc {
    text-align: center; 
    margin-bottom: 20px;
    margin-left: 20px; 
    width: 80%;
    
    }

    #doct .doc button {
    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
    }

    #doct .doc p {
        color: #bcbcbc9e;
    }
    .bttn{
        padding: 12px 18px 12px 20px;
        border-radius: 10px;
    }
    #form{
        
    }
    .formleft img{
        width: 50%;
        height: 90%;
        text-align: center;
        border-radius: 10px;
        margin-top: 20px;
    }
        
   .form-container{
       display: flex;
       justify-content: space-around;
       width: 90%;
       gap: 2%;
       margin: auto;
       padding: auto;
       height: 550px;
      
   }
    form{
        margin-top: 40px; 
    }

.form-group label {
    display: flex;
    margin-bottom: 5px;
}
.group{
    display: flex;
    gap: 30px;
    /* margin: 50px 0px 0px 0px; */
    text-align: center;
    margin-top: 15px;

}
.form-group input,
.form-group select,
.form-group textarea {
    width:270px;
    height: 50px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    width: 100%;
    height: 110px;
}
#checkbox{
  display: flex;
}
#checkbox input {
    width: 20px;
    
}

.form-group select{
    background: none;
}
.common-button{
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 8px;
    border: none;
    height: 58px;
    font-size: 20px;
}

 #for-subscribe{
    background-color: var(--whiteBG);
    align-items: center;
    margin-bottom: 60px;
    padding-top: 90px;
    padding-bottom: 50px;
    
 } 
 .all-sub{
    background-color: var(--sub);
    width: 90%;
    margin: auto;
    padding: auto;
    align-items: center;
    border-radius: 15px;
 }
.sub-container{
    text-align: center;
    width: 90%;
    height: 55%;
    padding: 10px 0  10px 0;
}
.last-form{
    text-align: center;
    padding: 35px;
    margin: 15px ; 
    width: 110%;
}
.last-form h2 {
    font-size: 30px;
    color: var(--white);
}
.last-form input,
.last-form button {
    margin: 5px;
    width: 180px;
    padding: 15px 0 15px 4px;
    
}
.last-form input{
    border-radius: 7px;
    background-color: var(--silver);
    color: var(--white);
    border: none;
    height: 58px;
}
.f-left{
    text-align: left;
    border-right: 1px solid var(--silver);
    width: 250px; 
    margin: 40px;

}

.f-left img{
    width: 150px;
    filter: brightness(0) invert(1);
}
.f-center{
    text-align: left;
    border-right: 1px solid var(--silver);
    width: 250px; 
    margin: 40px; 
}
.f-center h3{
  color: var(--white);
}
.link{
    text-align: left;
    display: flex;
    border-right: 1px solid var(--silver);
    padding-right:  60px; 
    flex-direction: column;
    width: 250px; 
    margin: 40px;
}
.link-ch{
    display: flex;

}
.ch-right{
    padding-right: 40px;
    line-height: 30px;


}

.ch-right a {
    color: #ffffff;
}

.ch-left{
    width: 100px;
    /* line-height: 30px; */

}
.ch-left a{
  color: var(--white);
  width: 80px;
}
.f-right{
    text-align: left;
    margin: 40px;
    padding-right:  60px; 
    width: 250px; 
}

.the-end {
    display: flex;
    background-color: var(--sub);
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
} 
.foot{
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: var(--muted);
    height: 380px;
}
p {
  color: var(--white);
  font-size: small;
}



footer {

    background-color: var(--sub);
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
} 
 /* humberger */
 .sidebar{
    position: fixed;
    top: 0;
    right: 0; 
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--white);
    backdrop-filter: 10px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 }
 .sidebar li {
    width: 100%;
 }
 .sidebar a{
    width: 100%;
 }
.sidebar ul li img{
    width: 10px;
    height:30;
}
.menu-button{
    display: none;
}

@media(max-width:800px){
  /* body {
    overflow-x:hidden ;
  }
   */
.hideonmobile{
    display: none;
    color: var(--primary);
}
.menu-button{
    display: block;
    color: var(--primary);
}
.pre-navbar{
    display: block;
    width: 400px;
}
.container-hero{
    display: block;
    align-items: center;
    flex-direction: column;

  }
  .big-title h1{
    width:300px;
    font-size: 50px;

  }
  .big-title p{
    width: 310px;
    color: var(--muted);
  }
  .hero-content{
    /* width: 70px; */
    margin-top: 7%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-links button {
    text-align: center;
    width: 300px;
    margin-left: 50px;
    
  }
  
  .hero-slide{
    justify-content: center;
  }
  .hero-slide img{
    width: 400px;
    margin-top: 35px;
    border-radius: 20px;
  }
  #service-area{
    background-color: var(--primary);
    margin-top: 6%;
    padding: 24px;
    width: 100%;
  }
  .container-service-area {
    display: block;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
  }
  .service-content h2 {
    font-size: 30px;
    color: var(--white);
    width: 260px;
 }
 .service-content p {
   color: var(--white);
   font-size: 20px;
   
 }
 .service{
   display: block;
   align-items: center;
   width: 180px;
   text-align:center ;
 }
 .service-box{
   margin: 17px;
   background-color: var(--white);
   padding: 26px 40px 26px 40px;
   border-radius: 15px;
   align-items: center;
 }
 .container-service-area {
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin: auto;
    padding: auto ;
   
  }
  .between{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    width: 390px;
}
.grid-ls{
  display: grid;
  grid-template-columns: repeat(1 , 300px);
  grid-template-rows: repeat(1,200px);
  font-size: 23px;
  line-height: 40px;
  height: 10px;
  justify-content: center;
}
#doct-pic img{
width: 350px;
}
 .wrt h4 {
 font-size: 25px;
 }
 .ect{
  text-align: center;
 }

.title2{
font-size: 25px;
text-align: center;
line-height: 2px;
width: 450px;

}
  .grid {
    display: grid;
    flex-direction: column;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1, 420px);
    text-align: center;
    gap: 1px;
    border-radius: 11px;

  }

  .aboutus{
    display:block;
    justify-content: space-between;
    gap: 30px;
    width:400px;
    margin: auto;
    padding: auto;
}
#our-erea{
    background-color: var(--whiteBG);
    align-items: center;
    width: 350px;
    border-radius: 18px;
    margin-bottom:35px;
}
 #doct .doc {
    text-align: center; 
    margin-bottom: 20px;
    /* margin-left: 20px;  */
    width: 80%;
    
    }
.decres{
  display: flex;
  font-size: 20px;
  height: 58px;
  /* width: 500px; */
  
}
.doct-container {
    display: block;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    padding: auto;
    gap: 15px;

 }

  .form-group label {
    display: flex;
    margin-bottom: 5px;
}
.group{
    display: block;
    gap: 30px;
    text-align: center;
    margin-top: 15px;
    width: 20px;

}
#checkbox{
  display: flex;
  justify-content: center;
  
}
#checkbox input{
    width: 20px;
    ;
    
}


.form-container{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    width: 350px;
    gap: 2px;
    margin-top: 170px ;
    justify-content: center;
   
}
.formleft img{
    width: 350px;
    height: 290px;
    text-align: center;
    border-radius: 10px;
    
    
}
.form-group select{
  width: 350px;
}
.form-group input {
  width: 350px;
}
.form-group textarea {
  width: 350px;
  height: 110px;
}

 #for-subscribe{
    background-color: var(--whiteBG);
    align-items: center;
    padding-top: 40px;
    margin-top: 190px;
    
 }
 .all-sub{
  background-color: var(--sub);
  width: 400px;
  margin: auto;
  padding: auto;
  align-items: center;
  border-radius: 15px;
}
.sub-container{
  
  width: 300px;
  height: 55%;
  justify-content: center;
  padding: 10px 0  10px 0;
  margin-left: 20px;
}
.last-form{
  text-align: center;
  padding: 35px;
  margin: 15px ; 
  width: 110%;
  margin-right: 100px;
}
.last-form h2 {
  font-size: 23px;
  color: var(--white);
}
.last-form input,
.last-form button {
  margin: 5px;
  width: 180px;
  padding: 15px 0 15px 4px;
  
}
.last-form button{
  font-size: 15px;
  height: 58px;
}
.last-form input{
  border-radius: 7px;
  opacity: 2px;
  background-color: var(--muted);
}
 .foot{
    display: block;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary);
    color: #ffffff;
    height: 800px;
    border: none;
   

}
.f-left{
  
  width: 250px; 
  margin: 40px 135px;
  border-right: none;


}

.f-left img{
  width: 150px;
  filter: brightness(0) invert(1);
}
.f-center{
  
  width: 240px; 
  margin: 40px 135px; 
  border-right: none;
}
.link{
  
  display: flex;
  padding-right:  60px; 
  flex-direction: column;
  width: 250px; 
  margin: 40px 40px;
  border-right: none;

}
.link p{
  margin-left: 93px;
}
.link-ch{
  display: flex;
  border-right: none;

}
.ch-right{
  /* padding-right: 0px; */
  line-height: 30px;
  text-align: center;
  border-right: none;
  margin-left: 95px;
  display: block;
  justify-content: center;

}

.ch-right a {
  color: #ffffff;
  width: 20px;
  
}

.ch-left{
  width: 100px;
  line-height: 30px;
  text-align: center;

}
.ch-left a{
color: var(--white); 
}
.f-right{
  
  margin: 40px;
  padding-right:  60px; 
  width: 250px;
  margin-left: 130px; 
}
.the-end {
  display: flex;
  background-color: var(--sub);
  height: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
} 

}




  